*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.container {
    width: 90%;
    margin: 0 auto;
}
.body {
    background: #f8f8f8;
}
/*HEADER*/


#header {
    padding: 30px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}


.header-nav a{
    text-decoration: none;
    color: var(--Blue-Dark, #002248);
    font-family: Airbnb Cereal App;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
}
.header-nav a:hover {
    color: #3685FB;
    transition: 0.2s;
    
}
.header-button button {
border: none;
color: #FFF;
text-align: center;
font-family: Airbnb Cereal App;
font-size: 16px;
font-weight: 500;
line-height: 18px; /* 112.5% */
border-radius: 10px;
background: #3685FB;
width: 120px;
height: 50px;
flex-shrink: 0;

}
/*HEADER*/

/*HERO*/
#hero {
    background: #F8F8F8;
    margin: -150px 0 ;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px 0 100px;
}

.first-foto {
    position: absolute;
    border-radius: 190px; 
    border: white solid 6px;
}
.next-foto {
    position: relative;
    border-radius: 190px;
    border: white solid 6px;
    margin-left: 230px; 
    margin-top: 150px; 
}

.hero-text h4 {
    padding: 30px 0;
    color: var(--Blue-Light, #00B3A0);

font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 112.5%; 
}
.hero-title h1 {
    position: relative;
    color: var(--Blue-Dark, #002248);
font-family: Eksell Display;
font-size: 60px;
font-style: normal;
font-weight: 550;
line-height: 72px; /* 120% */
text-transform: capitalize;
}
.hero-title img {
    position: absolute;
    margin-left: 390px;
    margin-top: -52px;

}
.hero-text p {
    padding: 40px 0;
    color: var(--Paragraph-Color-H3, #697687);

/* Paragraph */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.hero-text button {
    width: 170px;
height: 60px;
flex-shrink: 0;
border-radius: 10px;
background: #3685FB;
border: none;
    color: #FFF;
text-align: center;

/* Button */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 125% */
}
/*HERO*/

/*LOCATION*/
.locol button {
    fill: #FFF;
    color: #FFF;
text-align: center;
font-family: Airbnb Cereal App;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 138.889% */
width: 210px;
height: 143.84px;
flex-shrink: 0;
background: #3685FB;
border-radius: 0 30px 30px 0;
border: none;
}

.loc-img {
    position: relative;
}
.loc-h3 {
    position: absolute;
    margin-left: 250px;
    top: 870px;
   
}
.loc-p {
    position: absolute;
    margin-left: 250px;
    top: 900px;
}
.svg-1 {
    position: absolute;
    margin-left: -990px;
    top: 875px;

}

.category {
    position: absolute;
    margin-left: 500px;
    top: 870px; 
}
.svg-2 {
    position: absolute;
    margin-left: -685px;
    top: 875px;
}
.p2 {
    position: absolute;
    margin-left: 500px;
    top: 900px;
}
.person {
    position: absolute;
    margin-left: 750px;
    top: 870px;
}
.svg-3 {
    position: absolute;
    margin-left: -455px;
    top: 875px; 
}
.p3 {
    position: absolute;
    margin-left: 750px;
    top: 900px;
}
.button {
    position: absolute;
    margin-left: -350px;
    top: 835px;   
}
    
/*LOCOTION*/

/*FIND*/
.find h4 {
    color: var(--Blue-Light, #00B3A0);
text-align: center;

/* Sub title */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 112.5% */
}
.find h1 {
    padding: 30px 0;
    color: var(--Blue-Dark, #002248);
text-align: center;
font-family: Eksell Display;
font-size: 42px;
font-style: normal;
font-weight: 500;
line-height: 52px; /* 123.81% */
text-transform: capitalize;
}
.find p {
    color: var(--Paragraph-Color-H3, #697687);
text-align: center;

/* Paragraph */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}

/*FIND*/

/*CUB*/

.cub-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}
.cub {
    width: 370px;
height: 395px;
flex-shrink: 0;
    border-radius: 10px;
border: 2px solid #F8F8F8;
background: #FFF;
text-align: center;
}
.cub img {
    margin: 80px 0 30px;
}
.cub h3 {
    margin: 0 0 40px 0;
    color: var(--Blue-Dark, #002248);
text-align: center;
font-family: Airbnb Cereal App;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 140% */
}
.cub p {
    color: var(--Paragraph-Color-H3, #697687);
text-align: center;

/* Paragraph */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}

/*CUB*/


/*TREVEL*/
#trevel {
    background: #F8F8F8;
}
.trevel-svg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.trevel-text h4 {
    padding: 100px 0 0 0;
    
    color: var(--Blue-Light, #00B3A0);

/* Sub title */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 112.5% */
}
.trevel-text h2 {
    padding: 30px 0;
    color: var(--Blue-Dark, #002248);
    font-family: Eksell Display;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px; /* 123.81% */
    text-transform: capitalize;
}
.trevel-text p {
    color: var(--Paragraph-Color-H3, #697687);

/* Paragraph */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.trevel-title {
    padding: 50px 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-foto {
    position: relative;
}
.tr-svg {
    position: absolute;
    bottom: -1980px;
    left: 105px;
}
.img-h3 {
    position: absolute;
    bottom: -1925px;
    left: 120px;
    color: #FFF;
font-family: Eksell Display;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 100% */
}
.img-ph {
    position: absolute;
    bottom: -1960px;
    left: 125px;
    color: #FFF;
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 175% */
}
.img-stars {
    position: absolute;
    bottom: -1925px;
    left: 310px;
}
.s-dollar {
    position: absolute;
    bottom: -1960px;
    left: 345px;
    color: #FFF;
text-align: right;
font-family: Airbnb Cereal App;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
}
.main-foto1 {
position: relative;
}
.tr-svg1 {
    position: absolute;
    bottom: -1990px;
    left: 610px;
}
.img-h31 {
    position: absolute;
    bottom: -1940px;
    left: 630px;
    color: #FFF;
font-family: Eksell Display;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 100% */
}
.img-ph1 {
    position: absolute;
    bottom: -1975px;
    left: 630px;
    color: #FFF;
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 175% */
}
.img-stars1 {
    position: absolute;
    bottom: -1940px;
    left: 810px;
}
.s-dollar1 {
    position: absolute;
    bottom: -1975px;
    left: 845px;
    color: #FFF;
text-align: right;
font-family: Airbnb Cereal App;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
}
.main-foto2 {
    position: relative;
}
.tr-svg2 {
    position: absolute;
    bottom: -1980px;
    right: 100px;
}
.img-h32 {
    position: absolute;
    bottom: -1930px;
    right: 270px;
    color: #FFF;
font-family: Eksell Display;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 100% */
}
.img-ph2 {
    position: absolute;
    bottom: -1962px;
    right: 350px;
    color: #FFF;
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 175% */
}
.img-stars2 {
    position: absolute;
    bottom: -1930px;
    right: 120px;
}
.s-dollar2 {
    position: absolute;
    bottom: -1960px;
    right: 120px;
    color: #FFF;
text-align: right;
font-family: Airbnb Cereal App;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
}
/*TREVEL*/

/*DISCOVER*/


.dis-left {
    position: relative;
}
.dis-right {
    position: absolute;
    right: 0;
}
.play {
    position: absolute;
    left: 270px;
    top: 3100px;
}
.nato {
    position: absolute;
    right: 550px;
    top: 3400px
}
.dis-h5 {
    position: absolute;
    right: 480px;
    top: 2980px;
    color: var(--Blue-Light, #00B3A0);

/* Sub title */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 112.5% */
}
.dis-h2 {
    position: absolute;
    right: 130px;
    top: 3020px;
    color: var(--Blue-Dark, #002248);
font-family: Eksell Display;
font-size: 52px;
font-style: normal;
font-weight: 500;
line-height: 52px; /* 123.81% */
text-transform: capitalize;
}
.dis-p {
    position: absolute;
    right: 160px;
    top: 3150px;
    color: var(--Paragraph-Color-H3, #697687);

/* Paragraph */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.dis-btn {
    position: absolute;
    top: 3300px;
    right: 370px;
    color: #FFF;
text-align: center;

/* Button */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 125% */
border-radius: 10px;
background: #3685FB;
width: 170px;
height: 60px;
flex-shrink: 0;
border: none;
}

/*DISCOVER*/

/*PERFECT*/

.perfect {
    margin: 120px 0;
}
.perfect-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.perfect-text h4 {
    color: var(--Blue-Light, #00B3A0);

/* Sub title */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 112.5% */
}
.perfect-text h1 {
    padding: 30px 0;
    color: var(--Blue-Dark, #002248);
font-family: Eksell Display;
font-size: 42px;
font-style: normal;
font-weight: 549;
line-height: 52px; /* 123.81% */
text-transform: capitalize;
width: 512px;
}
.perfect-text p {
    color: var(--Paragraph-Color-H3, #697687);

/* Paragraph */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
width: 509px;
}
.kvadrat-content1 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}
.kvadrat-content2 {
    display: flex;
    align-items: center;
    gap: 20px;
}
.kvadrat {
     border-radius: 10px;
border: 2px solid #F8F8F8;
width: 150px;
height: 130px;
flex-shrink: 0;
}
.kvadrat-title {
    padding: 30px 0;
}
.kvadrat h2 {
    color: #3685FB;
text-align: center;
font-family: Eksell Display;
font-size: 32px;
font-style: normal;
font-weight: 550;
line-height: 34px; /* 106.25% */
}
.kvadrat h6 {
    color: var(--Blue-Dark, #002248);
text-align: center;
font-family: Airbnb Cereal App;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 200% */
}
.per-img1 {
    position: absolute;
    right: 350px;
    bottom: -3600px;
    border-radius: 177px;
    border: #FFF solid 6px;
}
.per-img2 {
    border-radius: 197px;

}


/*PERFECT*/

/*ABOUT*/

#about {
    background: #F8F8F8;
    padding: 150px 0;
}
.about-content {
    text-align: center;
}
.about-text h4 {
    padding: 150px 0 0 0;
    color: var(--Blue-Light, #00B3A0);
text-align: center;

/* Sub title */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 112.5% */
}
.about-text h2 {
    padding: 30px 0;
    color: var(--Blue-Dark, #002248);
text-align: center;
font-family: Eksell Display;
font-size: 42px;
font-style: normal;
font-weight: 500;
line-height: 52px; /* 123.81% */
text-transform: capitalize;
}
.about-text p {
    padding: 0 0 50px 0;
    color: var(--Paragraph-Color-H3, #697687);
text-align: center;

/* Paragraph */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.img1 {
    position: absolute;
    left: 280px;
    margin-top: 40px;
}
.img2 {
    border-radius: 50%;
    position: absolute;
    left: 320px;
    margin-top: 200px;
}
.img3 {
    border-radius: 50%;
    position: absolute;
    left: 200px;
    margin-top: 300px;
}
.img4 {
    border-radius: 50%;
    position: absolute;
    margin-left: -900px;
    margin-top: 430px;
}
.img5 {
    border-radius: 50%;
    position: absolute;
    left: 700px;
    margin-top: 50px;
}
.img6 {
    border-radius: 50%;
    position: absolute;
    right: 470px;
    margin-top: 100px;
}
.img7 {
    border-radius: 50%;
    position: absolute;
    right: 400px;
    margin-top: 200px;
}
.img8 {
    border-radius: 50%;
    position: absolute;
    right: 450px;
    margin-top: 370px;
}
.img9 {
    position: absolute;
    left: 450px;
    margin-top: 170px;

}
.img10 {
    position: absolute;
    left: 680px;
    margin-top: 430px;
}

/*ABOUT*/

/*FEED*/

.feed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
}
.feed-text h6 {
    padding: 20px 0;
    color: var(--Blue-Light, #00B3A0);

    /* Sub title */
    font-family: Airbnb Cereal App;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
}
.feed-text h1 {
    color: var(--Blue-Dark, #002248);
font-family: Eksell Display;
font-size: 42px;
font-style: normal;
font-weight: 500;
line-height: 52px; /* 123.81% */
text-transform: capitalize;
width: 462px;
}
.feed-btn button {
    color: #FFF;
text-align: center;

/* Button */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 125% */
border-radius: 10px;
background: #3685FB;width: 170px;
height: 60px;
flex-shrink: 0;
border: none;
}

/*FEED*/

/*SLIDE*/

.slider-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

.sliders {
    width: 600px;
    height: 740px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 20px;
    border: 2px solid #FFF;
}

.sliders::-webkit-scrollbar{
    display: none;
}
.sliders img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.controls {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    column-gap: 10px;
}

.controls a {
    width: 20px;
    height: 10px;
    background: #FFF;
    transition: .5s;
}

.controls a:hover {
    opacity: 0.5;
}

/*SLIDE*/

/*HAVE*/

.have-content input {
    position: relative;
    margin: 100px 0;
    border-radius: 40px;
background: #F3F8FF;
width: 1000px;
height: 378px;
flex-shrink: 0;
border: none;
}

.have-content h5 {
    position: absolute;
    left: 350px;
    margin-top: -400px;
    color: var(--Blue-Light, #00B3A0);

/* Sub title */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 112.5% */
}

.have-content h1 {
    position: absolute;
    left: 350px;
    margin-top: -360px;
    color: var(--Blue-Dark, #002248);
font-family: Eksell Display;
font-size: 52px;
font-style: normal;
font-weight: 500;
line-height: 60px; /* 115.385% */
text-transform: capitalize;
width: 409px;
}

.have-content button {
    position: absolute;
    left: 350px;
    margin-top: -210px;
    color: #FFF;
text-align: center;

/* Button */
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 125% */
border-radius: 10px;
background: #3685FB;
width: 170px;
height: 60px;
flex-shrink: 0;
border: none;
}

.have-content img {
    position: absolute;
    left: 800px;
    margin-top: -460px;
}

/*HAVE*/

/*FOOTER*/

#footer {
    margin: 50px 0 100px 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 0;

}
.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.footer-nav a {
    text-decoration: none;
    color: var(--Blue-Dark, #002248);
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 112.5% */
}

.faq {
    margin: 0 270px 0 0;
    color: var(--Blue-Dark, #002248);
font-family: Airbnb Cereal App;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 112.5% */
}
.footer-icons {
    gap: 20px;
}
.insta {
    padding: 0 15px;
}
.fp {
    margin: 50px 0 40px 0;
    color: var(--Paragraph-Color-H3, #697687);
text-align: center;
font-family: Airbnb Cereal App;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 100% */
}

/*FOOTER*/